.Rproj.user
.Rhistory
.RData
.Ruserdata

analysis/**/all_retvals.Rds

analysis/**/raw

analysis/**/work
analysis/**/.nextflow
analysis/**/.nextflow*
analysis/**/not_to_include
analysis/**/msa_opt2
analysis/**/msa_opt3
analysis/**/old_*

common_code/msa_opt2
common_code/msa_opt3
common_code/MSA/not_to_include
output_for_paper/msa_opt2
output_for_paper/msa_opt3

common_code/old_*
output_for_paper/old_*
synthetic_data/**/old_*

not_to_include
investigation
common_code/MSA/outputs_optimisation
common_code/MSA/output_tables_unoptimised
common_code/MSA/output_tables
common_code/MSA/output_tables/run_auto_optimised_analysis3.nf